In [7]:
import itertools
import os
import pandas as pd

In [10]:
data_dir = r'X:\Non_VDOT\WMATA_JD_MD\JD_RTSP\2016_TP_demand_adj\Run\S2S'
periods = ['AM', 'OP']
access = ['DR', 'KR', 'WK']
mode = ['MR', 'BM']

In [14]:
names = [p+'_'+a+'_'+m for p, a, m in itertools.product(periods, access, mode)]
names

['AM_DR_MR',
 'AM_DR_BM',
 'AM_KR_MR',
 'AM_KR_BM',
 'AM_WK_MR',
 'AM_WK_BM',
 'OP_DR_MR',
 'OP_DR_BM',
 'OP_KR_MR',
 'OP_KR_BM',
 'OP_WK_MR',
 'OP_WK_BM']

In [11]:
station_files = [os.path.join(data_dir, p+'_'+a+'_'+m+'.csv') for p, a, m in itertools.product(periods, access, mode)]
station_files

['X:\\Non_VDOT\\WMATA_JD_MD\\JD_RTSP\\2016_TP_demand_adj\\Run\\S2S\\AM_DR_MR.csv',
 'X:\\Non_VDOT\\WMATA_JD_MD\\JD_RTSP\\2016_TP_demand_adj\\Run\\S2S\\AM_DR_BM.csv',
 'X:\\Non_VDOT\\WMATA_JD_MD\\JD_RTSP\\2016_TP_demand_adj\\Run\\S2S\\AM_KR_MR.csv',
 'X:\\Non_VDOT\\WMATA_JD_MD\\JD_RTSP\\2016_TP_demand_adj\\Run\\S2S\\AM_KR_BM.csv',
 'X:\\Non_VDOT\\WMATA_JD_MD\\JD_RTSP\\2016_TP_demand_adj\\Run\\S2S\\AM_WK_MR.csv',
 'X:\\Non_VDOT\\WMATA_JD_MD\\JD_RTSP\\2016_TP_demand_adj\\Run\\S2S\\AM_WK_BM.csv',
 'X:\\Non_VDOT\\WMATA_JD_MD\\JD_RTSP\\2016_TP_demand_adj\\Run\\S2S\\OP_DR_MR.csv',
 'X:\\Non_VDOT\\WMATA_JD_MD\\JD_RTSP\\2016_TP_demand_adj\\Run\\S2S\\OP_DR_BM.csv',
 'X:\\Non_VDOT\\WMATA_JD_MD\\JD_RTSP\\2016_TP_demand_adj\\Run\\S2S\\OP_KR_MR.csv',
 'X:\\Non_VDOT\\WMATA_JD_MD\\JD_RTSP\\2016_TP_demand_adj\\Run\\S2S\\OP_KR_BM.csv',
 'X:\\Non_VDOT\\WMATA_JD_MD\\JD_RTSP\\2016_TP_demand_adj\\Run\\S2S\\OP_WK_MR.csv',
 'X:\\Non_VDOT\\WMATA_JD_MD\\JD_RTSP\\2016_TP_demand_adj\\Run\\S2S\\OP_WK_BM.csv']

In [12]:
dfs_station_trips = [pd.read_csv(f) for f in station_files]

In [19]:
df_trips = pd.concat(dfs_station_trips)
df_trips.head()

  TOD ACC Mode      I     J   FST   LST   TRP
0  AM  DR   MR  109.0   1.0  23.0  14.0  0.61
1  AM  DR   MR  109.0   9.0  23.0  15.0  0.02
2  AM  DR   MR  109.0  11.0  23.0  70.0  0.30
3  AM  DR   MR  109.0  12.0  23.0  70.0  0.47
4  AM  DR   MR  109.0  14.0  23.0  15.0  0.01

In [20]:
station_id = 3

In [22]:
trips_mr = df_trips.loc[df_trips.Mode.isin(['MR', 'BM'])].groupby(['FST','LST'], as_index=False)['TRP'].sum()
trips_mr.head()

   FST  LST      TRP
0  1.0  1.0     1.67
1  1.0  2.0   948.98
2  1.0  3.0   880.14
3  1.0  4.0  1156.63
4  1.0  5.0   128.30

In [23]:
trips_mr.loc[trips_mr.FST == station_id].sort_values(by='TRP', ascending=False).head(5)

     FST   LST     TRP
189  3.0  14.0  603.27
188  3.0  13.0  602.04
190  3.0  15.0  423.80
177  3.0   2.0  327.50
182  3.0   7.0  304.09